<nav class="navbar">
  <a routerLink="/" class="brand">
    <span class="brand-icon">🎼</span>
    <span class="brand-name">FindMeBand</span>
  </a>

  <button class="hamburger" (click)="toggleMenu()" [class.open]="menuOpen">
    <span></span><span></span><span></span>
  </button>

  <ul class="nav-links" [class.open]="menuOpen">
    @for (link of navLinks; track link.path) {
      <li>
        <a [routerLink]="link.path" routerLinkActive="active" (click)="menuOpen = false">
          <span class="nav-icon">{{ link.icon }}</span>
          {{ link.label }}
        </a>
      </li>
    }
  </ul>
</nav>
